.pdf-scroll-container {
  overflow-x: scroll;
  scrollbar-width: none;
  justify-items: center;
  background-color: var(--white-color);
  padding: 3rem 2rem;

  @media (max-width: 1080px) {
    overflow-x: hidden;
    padding: 2rem .5rem;
  }

  .react-pdf__Document {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 178px;
    gap: .5em;

    @media (max-width: 1080px) {
      flex-direction: column;
      padding-top: 154px;
    }

    .react-pdf__Page {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .test {}
  }
}