.gallery-page {
  padding-top: 178px;

  @media (max-width: 1080px) {
    padding-top: 154px;
  }

  .gallery-wrapper {
    display: grid;
    padding: 0.25rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.25rem;

    @media (max-width: 1080px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .gallery-image {
    display: flex;
    height: 19.6875em;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    svg {
      fill: var(--gray-color-05);
    }

    @media (max-width: 1080px) {
      height: 12em;
    }


    @media (min-width: 560px) and (max-width: 1080px) {
      height: 17em;
    }

    span {
      width: 100%;
      height: 100%;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .gallery-image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.70);

      transition: all 750ms cubic-bezier(0.27, 1.06, 0.18, 1);

      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }
  }

  .full-image-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);



    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;


    display: flex;
    justify-items: center;
    align-items: center;

    z-index: 100;
    overflow: hidden;

    .full-image-gallery {
      width: 98%;
      height: 96.5%;
      margin: 0 auto;

      object-fit: cover;

      object-position: center;

      border-radius: 8px;

      transition: all 750ms cubic-bezier(0.27, 1.06, 0.18, 1);

      @media (max-width: 1080px) {
        width: 98%;
        height: 98.5%;
      }

    }

    .close-icon {
      border-radius: 64px;
      background: var(--primary-color-50);
      cursor: pointer;
      transition: all 750ms cubic-bezier(0.27, 1.06, 0.18, 1);
      border: 2px solid var(--white-color);

      &:hover {
        background: var(--black-color);
        border: 2px solid var(--black-color);

        svg {
          fill: var(--white-color);
        }
      }


      display: flex;
      padding: 0.75rem;
      align-items: center;
      gap: 0.625rem;

      position: absolute;
      right: 2rem;

      top: 2rem;


      @media (max-width: 1080px) {
        right: 1rem;

        top: 1rem;

      }

      svg {
        fill: var(--white-color);
      }
    }

    .swiping-icons {
      /* background-color: rgba(0, 0, 0, 0.40); */

      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);

      position: absolute;
      bottom: 5%;
      left: 0;
      right: 0;


      display: flex;
      padding: .5em .5em;
      gap: .5em;
      border-radius: 64px;
      justify-content: center;
      /* width: fit-content; */

      .left {
        background-color: var(--black-color);
        padding: .8em;
        border-radius: 64px;
        border: 2px solid var(--gray-color-10);

        cursor: pointer;

        transition: all 750ms cubic-bezier(0.27, 1.06, 0.18, 1);

        svg {
          fill: var(--white-color);
        }

        &:hover {
          border: 2px solid var(--black-color);
        }
      }

      .right {
        background-color: var(--black-color);
        padding: .8em;
        border-radius: 64px;
        border: 2px solid var(--gray-color-10);

        cursor: pointer;

        transition: all 750ms cubic-bezier(0.27, 1.06, 0.18, 1);

        &:hover {
          border: 2px solid var(--black-color);
        }

        svg {
          fill: var(--white-color);
        }
      }
    }
  }
}