.utility-wrapper {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;

  /* position: sticky;
  top: -80px;
  left: 0;
  right: 0;
  position: sticky; */

  background-color: var(--black-color);

  transition: all 750ms cubic-bezier(0.27, 1.06, 0.18, 1);

  @media (max-width: 1080px) {
    display: flex;
    padding: 0.5rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .left-content {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    @media (max-width: 1080px) {
      .trip-logo {
        display: none;
      }
    }
  }

  .right-content {
    @media (max-width: 1080px) {
      display: none;
    }
  }
}

/* Une classe qu'on ajoutera pour cacher la barre */
.utility-wrapper.hidden-and-banner-open {
  transform: translateY(-143.19px);
  /* On la déplace vers le haut de sa propre hauteur pour la cacher */
}

@media (max-width: 1080px) {
  .utility-wrapper.hidden-and-banner-open {
    transform: translateY(-119.19px);
  }
}


/* Une classe qu'on ajoutera pour cacher la barre */
.utility-wrapper.hidden {
  transform: translateY(-72px);
  /* On la déplace vers le haut de sa propre hauteur pour la cacher */
}

@media (max-width: 1080px) {
  .utility-wrapper.hidden {
    transform: translateY(-56px);
  }
}