.menu-section-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;

  .menu-section-header-header {
    font-family: Tra1;
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    font-variant: all-small-caps;
    width: 100%;

    @media (max-width: 1080px) {
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 600;
      line-height: normal;
      font-variant: all-small-caps;
    }

    color: var(--white-color);
  }

  .menu-section-header-description {
    text-align: center;
    color: var(--primary-color-05);
  }
}