.contacts-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 3rem;

  @media (max-width: 780px) {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }

  .left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    @media (max-width: 780px) {
      width: 100%;
    }

    .user-inputs {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
      align-self: stretch;
      /* width: 100%; */

      .grouped-inputs {
        display: flex;
        align-items: flex-start;
        gap: 0.75rem;
        align-self: stretch;
      }
    }
  }


  .right-content {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    gap: 1.5rem 2rem;
    align-self: stretch;
    flex-wrap: wrap;

    .contact-content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      align-self: stretch;

      .heading {
        color: var(--primary-color-05);
        font-family: Tra1;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-self: stretch;
      }

      .content {
        color: var(--primary-color-05);
        font-family: Tra1;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}