.mixed-wine-category {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;

  @media (max-width: 1080px) {
    flex-direction: column;
    gap: 2em;
  }

  .wine-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    flex: 1 0 0;

    @media (max-width: 1080px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.25rem;
      align-self: stretch;
    }
  }
}