.page-header-wrapper {
  display: flex;
  height: 38.75rem;
  justify-content: center;
  align-items: flex-end;

  overflow: hidden;
  position: relative;

  padding-bottom: 4.75em;

  @media (max-width: 1080px) {
    height: 28.75rem;
    align-items: flex-end;
    padding-bottom: 3em;
    flex-shrink: 0;

    .page-header-text-wrapper {
      gap: 0.75rem;
      padding: 0 1rem;

      h2 {
        text-align: center;
        font-family: Tra1;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-variant: all-small-caps;
      }

      p {
        font-family: Tra1;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .page-header-overlay {
    background: rgba(0, 0, 0, 0.50);
    z-index: 2;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .page-header-text-wrapper {
    z-index: 5;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-self: stretch;
    height: 100%;
    justify-content: flex-end;

    h2 {
      font-variant: all-small-caps;
      color: var(--white-color);
      text-align: center;
      width: 100%;
    }

    p {
      color: var(--gray-color-10);
      width: 100%;
      text-align: center;
    }
  }
}