.input-field-wrapper {
  display: flex;
  padding: 0.575rem 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.375rem;
  flex: 1 0 0;
  width: -webkit-fill-available;


  /* border: 1px solid var(--primary-color-40); */


  background-color: var(--component-over-brand-color);


  transition: all 750ms cubic-bezier(0.27, 1.06, 0.18, 1);

  label {
    font-family: Tra1;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  input {
    color: var(--primary-color-30);
    font-family: Tra1;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 100%;

    transition: all 750ms cubic-bezier(0.27, 1.06, 0.18, 1);

    background-color: unset;
    border: none;

    &:focus {
      border: none;
      color: var(--primary-color-05);
    }
  }
}

.text-area-field-wrapper {
  display: flex;
  padding: 0.575rem 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.375rem;
  flex: 1 0 0;

  width: -webkit-fill-available;


  border-bottom: 1px solid inset var(--primary-color-40);


  background-color: var(--component-over-brand-color);


  transition: all 750ms cubic-bezier(0.27, 1.06, 0.18, 1);

  label {
    font-family: Tra1;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  textarea {
    color: var(--primary-color-30);
    font-family: Tra1;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    resize: none;

    width: 100%;

    height: 10em;

    transition: all 750ms cubic-bezier(0.27, 1.06, 0.18, 1);

    background-color: unset;
    border: none;

    &:focus {
      border: none;
      color: var(--primary-color-05);
    }
  }
}