/* List Nav */
.listNavWrapper {
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25em;
  align-self: stretch;

  .content-wrapper {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    cursor: pointer;

    color: var(--gray-color-30);
    transition: all 350ms cubic-bezier(0.42, 1.67, 0.21, 0.9);


    &:hover {
      color: var(--gray-color-10);
    }
  }

  .divider {
    width: 100%;
    height: 0.0625rem;
    background-color: var(--gray-color-90);
  }
}

/* Menu popover */
.menu-popover {
  display: flex;
  width: 16.25rem;
  min-width: 16.25rem;
  max-width: 16.25rem;
  flex-direction: column;
  align-items: flex-start;

  background: var(--black-color);
}



header {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;

  background: var(--header-default-color);
  border-bottom: 1px solid inset var(--secondary-color-60);

  transition: all 650ms cubic-bezier(0.39, 1.29, 0.35, 0.98);

  .logo {
    a {
      img {
        display: flex;
        width: 6.01625em;
        height: 4.875rem;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        aspect-ratio: 58/47;
      }
    }
  }

  nav {

    ul {
      display: flex;
      align-items: center;
      gap: 1rem;

      li {
        a {
          text-decoration: none;
          color: inherit;
          display: flex;
          padding: 0.5em;
          justify-content: center;
          align-items: center;
          gap: 0.5em;
          align-self: stretch;
          transition: all 350ms cubic-bezier(.42, 1.67, 0.21, 0.9);

          svg {
            fill: var(--gray-color-20);
            transition: all 650ms cubic-bezier(0.39, 1.29, 0.35, 0.98);
          }

          &:hover {
            color: var(--primary-color-50);

            svg {
              transform: rotateZ(-180deg);
            }
          }
        }
      }

      .special-link {
        position: relative;

        .menu-popover {
          position: absolute;
          height: 0px;
          overflow: hidden;
          border: 0px solid var(--gray-color-90);

          transition: all 750ms cubic-bezier(0.27, 1.06, 0.18, 1);
        }


        &:hover {
          .menu-popover {
            position: absolute;
            height: 417px;
            overflow: hidden;

            border: 1px solid var(--gray-color-90);
          }
        }
      }
    }

  }

  &:hover {
    background: var(--black-color);
    border-top: 1px solid inset var(--gray-color-90);
  }
}



/* Active, routing */
.nav-active {
  color: var(--white-color);
}

.nav-link {
  color: var(--gray-color-40);
}