/* List Nav */
.listNavWrapper {
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25em;
  align-self: stretch;

  .content-wrapper {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    cursor: pointer;

    color: var(--gray-color-30);
    transition: all 350ms cubic-bezier(0.42, 1.67, 0.21, 0.9);


    &:hover {
      color: var(--gray-color-10);
    }
  }

  .divider {
    width: 100%;
    height: 0.0625rem;
    background-color: var(--gray-color-90);
  }
}

/* Menu popover */
.menu-popover {
  display: flex;
  width: 16.25rem;
  min-width: 16.25rem;
  max-width: 16.25rem;
  flex-direction: column;
  align-items: flex-start;

  background: var(--black-color);
}


header {

  display: flex;
  padding: 1rem 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  background: var(--header-default-color);
  border-bottom: 1px solid inset var(--secondary-color-60);


  transition: all 750ms cubic-bezier(0.27, 1.06, 0.18, 1);


  &:hover {
    background: var(--black-color);
    border-top: 1px solid inset var(--gray-color-90);
  }


  @media (max-width: 1080px) {
    padding: 0.75rem 1rem;
  }


  .principal-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width: 1080px) {
      .logo {
        a {
          img {
            display: flex;
            width: 3.6875rem;
            height: 2.988rem;
            justify-content: center;
            align-items: center;
            aspect-ratio: 58/47;
          }
        }
      }
    }

    .logo {
      a {
        img {
          display: flex;
          width: 6.01625em;
          height: 4.875rem;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          aspect-ratio: 58/47;
        }
      }
    }

    .desktop {

      @media (max-width: 1080px) {
        display: none;
      }

      ul {
        display: flex;
        align-items: center;
        gap: 1rem;

        li {
          a {
            text-decoration: none;
            display: flex;
            padding: 0.5em;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
            align-self: stretch;
            transition: all 650ms cubic-bezier(0.39, 1.29, 0.35, 0.98);

            svg {
              fill: var(--gray-color-20);
              transition: all 650ms cubic-bezier(0.39, 1.29, 0.35, 0.98);
            }

            &:hover {
              color: var(--primary-color-50);

              svg {
                transform: rotateZ(-180deg);
              }
            }
          }
        }

        .special-link {
          position: relative;

          .menu-popover {
            position: absolute;
            height: 0px;
            overflow: hidden;
            border: 0px solid var(--gray-color-90);

            transition: all 750ms cubic-bezier(0.27, 1.06, 0.18, 1);
          }


          &:hover {
            .menu-popover {
              position: absolute;
              height: 417px;
              overflow: hidden;

              border: 1px solid var(--gray-color-90);
            }
          }
        }
      }

    }

    .buttonPrimary {
      @media (max-width: 1080px) {
        display: none;
      }
    }

    .ham-menu {
      display: none;
      padding: 0.5rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      svg {
        fill: var(--gray-color-20);
      }

      @media (max-width: 1080px) {
        display: flex;
      }
    }
  }

  .mobile {
    display: none;
  }

  @media (max-width: 1080px) {
    .mobile {
      display: flex;
      flex-direction: column;
      justify-content: top;
      align-items: flex-start;
      gap: 0.5rem;
      align-self: stretch;

      overflow-y: scroll;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5rem;

        margin: 0;
        padding: 0;
        width: 100%;


        li {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.25rem;
          align-self: stretch;

          transition: all 650ms cubic-bezier(0.39, 1.29, 0.35, 0.98);
          overflow: hidden;


          a {
            text-decoration: none;
            display: flex;
            padding: 0.5em;
            gap: 0.5em;
            align-self: stretch;
            transition: all 350ms cubic-bezier(.42, 1.67, 0.21, 0.9);


            svg {
              fill: var(--gray-color-20);
              transition: all 650ms cubic-bezier(0.39, 1.29, 0.35, 0.98);
            }
          }
        }

        .special-link {
          display: flex;
          /* padding: 0.5rem; */
          flex-direction: column;
          align-items: flex-start;
          gap: 0.25rem;
          align-self: stretch;

          .divider {
            width: 100%;
            height: 0.0625rem;
            background-color: var(--gray-color-90);
          }

          .wrapper-2 {
            width: 100%;
          }
        }
      }
    }
  }


}



/* Active, routing */
.nav-active {
  color: var(--white-color);
}

.nav-link {
  color: var(--gray-color-40);
}