.pizza-du-mois {
  display: flex;
  width: 100%;
  padding: 0.5rem 0;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1 0 0;

  @media (max-width: 1080px) {
    display: flex;
    padding: 0.5rem 0;
    height: unset;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
  }

  .mois {
    color: var(--primary-color-05);
    text-align: center;
    font-family: Tra1;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .pizza {
    color: var(--primary-color-05);
    text-align: center;
    font-family: Tra1;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}