footer {
  display: flex;
  padding: 4rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  align-self: stretch;

  background-color: var(--black-color);

  /* Mobile version */
  @media (max-width: 860px) {
    display: flex;
    padding: 2rem 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }


  .main-footer {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8rem;
    align-self: stretch;
    flex-wrap: wrap;

    /* Mobile version */
    @media (max-width: 860px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 2rem;
      align-self: stretch;
    }


    .left-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      img {
        display: flex;
        width: 6.01625rem;
        height: 4.875rem;
        justify-content: center;
        align-items: center;
        aspect-ratio: 58/47;
      }
    }

    .right-section {
      display: flex;
      align-items: center;
      align-content: center;
      gap: 2.5em 0;
      flex: 1 0 0;
      flex-wrap: wrap;

      /* Mobile version */
      @media (max-width: 860px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        align-self: stretch;
      }

      .footer-block {
        display: flex;
        height: 13rem;
        min-width: 12.25rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        flex: 1 0 0;

        color: var(--gray-color-20);

        .label {
          color: var(--gray-color-05);
          font-family: tra1;
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        .footer-links-data {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;
          align-self: stretch;

          a {
            text-decoration: none;
            color: var(--gray-color-30);
            transition: all 350ms cubic-bezier(0.42, 1.67, 0.21, 0.9);

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .divider {
    width: 100%;
    height: 0.0625rem;
    background-color: var(--gray-color-90);
  }

  .second-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    /* Mobile version */
    @media (max-width: 860px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 2rem;
      align-self: stretch;

      text-align: center;

      .copygright {
        width: 100%;
      }
    }


    .copygright {
      color: var(--gray-color-40);
      font-family: Tra1;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .payment-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      align-self: stretch;

      p {
        color: var(--gray-color-05);
        font-family: Tra1;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .services-wrapper {
        display: flex;
        align-items: center;
        justify-items: flex-end;
        gap: 0.75rem;

        img {
          width: 24px;
          height: 24px;
        }
      }

    }
  }
}