.modal-event-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 2em;

  background-color: rgba(0, 0, 0, 0.75);

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  opacity: 0;
  transition: all 750ms cubic-bezier(0.27, 1.06, 0.18, 1);

  .modal-event-core-content-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--black-color);

    max-width: 568px;

    @media (max-width: 1080px) {
      width: 100%;
      max-width: 580px;
      /* height: 100%; */
    }


    img {
      width: 100%;
      height: 320px;
      object-fit: cover;

      @media (max-width: 1080px) {
        height: 220px;
      }
    }

    .modal-event-details {
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding: 32px 32px 48px 32px;

      @media (max-width: 1080px) {
        padding: 20px 20px 28px 20px;
      }

      .event-occasion-and-infos {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .day {
          color: var(--primary-color-30);
        }

        h3 {
          color: var(--gray-color-05);
        }

        .infos-of-the-event {
          color: var(--gray-color-20);
        }
      }

      .event-divider {
        width: 100%;
        height: 0.0625rem;
        background-color: var(--gray-color-90);
      }
    }
  }

  .event-close-icon {
    padding: 12px;
    background-color: red;
    border-radius: 4px;

    background-color: rgba(56, 56, 56, 0.6);

    position: absolute;
    top: 32px;
    right: 32px;

    @media (max-width: 1080px) {
      top: 16px;
      right: 16px;
    }

    transition: all 350ms cubic-bezier(0.42, 1.67, 0.21, 0.9);
    cursor: pointer;

    &:hover {
      background-color: var(--primary-color-50);

      svg {
        fill: var(--white-color);
      }
    }

    svg {
      fill: var(--gray-color-20);
    }
  }
}

.modal-event-wrapper.is-active {
  opacity: 1;
}