/* Ce fichier CSS contient les coonfigurations de style que l'on retrouve de 
façon récurrente sur le site */



/* CSS RESET STYLING */
/* Eric Meyer's Reset CSS v2.0 | meyerweb.com/eric/tools/css/reset/ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* LES LIGNES DE CODE PROPRE AU STYLE DU SITE WEB COMMENCE ICI */

/* Tokens propres à la charte graphique de la Trattoria Da Alex */
:root {
  /* Couleurs */
  /* Rouge */
  --primary-color-05: #F8EBEB;
  --primary-color-10: #E9C2C1;
  --primary-color-20: #DFA4A3;
  --primary-color-30: #D07A79;
  --primary-color-40: #C7615F;
  --primary-color-50: #B93937;
  --primary-color-60: #A83432;
  --primary-color-70: #832827;
  --primary-color-80: #661F1E;
  --primary-color-90: #4E1817;

  /* Marron */
  --secondary-color-05: #F2F0EF;
  --secondary-color-10: #D5D0CD;
  --secondary-color-20: #C1BAB5;
  --secondary-color-30: #A59A93;
  --secondary-color-40: #94867E;
  --secondary-color-50: #79685E;
  --secondary-color-60: #6E5F56;
  --secondary-color-70: #564A43;
  --secondary-color-80: #433934;
  --secondary-color-90: #332C27;

  /* Gris */
  --gray-color-05: #F3F3F3;
  --gray-color-10: #D9D9D9;
  --gray-color-20: #C7C7C7;
  --gray-color-30: #AEAEAE;
  --gray-color-40: #9E9E9E;
  --gray-color-50: #868686;
  --gray-color-60: #7A7A7A;
  --gray-color-70: #5F5F5F;
  --gray-color-80: #4A4A4A;
  --gray-color-90: #383838;

  /* Neutres */
  --white-color: #FFFFFF;
  --black-color: #000000;

  /* Couleurs de composants */
  --component-over-brand-color: 'rgba(168, 52, 50, 0.60)';


  /* Motion */
  /* Basic */
  --motion-basic-cubic-bezier: '0.42, 1.67, 0.21, 0.9';
  --motion-basic-duration: '350ms';

  /* Accelerate */
  --motion-æccelerate-cubic-bezier: '0.39, 1.29, 0.35, 0.98';
  --motion-accelerate-duration: '650ms';

  /* Smooth */
  --motion-smooth-cubic-bezier: '0.27, 1.06, 0.18, 1';
  --motion-smooth-duration: '750ms';
}


/* TYPOGRAPHIE */
/* Déclarer les polices de la marque Trattoria Da Alex */

/* Montserrat normal */
@font-face {
  font-family: 'Tra1';
  src: url('../assets/font/montserrat.ttf');
  font-style: normal;
}

/* Montserrat italic */
@font-face {
  font-family: 'Tra1';
  src: url('../assets/font/montserrat-italic.ttf');
  font-style: italic;
}

/* Famille de police spéciale */
@font-face {
  font-family: 'Tra2';
  src: url('../assets/font/trat2.otf');
  font-style: normal;
}

h1 {
  font-family: Tra1;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-variant: all-small-caps;
}

h2 {
  font-family: Tra1;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps;
}

h3 {
  font-family: Tra1;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-variant: all-small-caps;
}

.sub-heading-menu {
  font-family: Tra1;
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  font-variant: all-small-caps;
}

/* Texte qu'on retrouve sur le corps des pages */
.body1 {
  font-family: Tra1;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.body2 {
  font-family: Tra1;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cta {
  font-family: Tra1;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.trattoria-font-heading-1 {
  font-family: Tra2;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.trattoria-font-heading-2 {
  font-family: Tra2;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}


html {
  background: var(--primary-color-50);
}